@model IEnumerable<AlphaWebApp.Models.Article>

@{
    var articles = Model.Skip(1);
}

@*<----------------------------------------------------- Economy/index ------------------------------------------------------------->*@
@foreach (var article in articles)
{
    <div class="post feature-post style:height:500px;">
        <div class="entry-header">
            <div class="entry-thumbnail">
                <img src="@article.ImageLink" class="card-img-top" style="height: 200px; width: 100%; object-fit: cover;">
            </div>

        </div>
        <div class="post-content">
            <div class="entry-meta">
                <ul class="list-inline">
                    <li class="publish-date"><a href="#"><i class="fa-sharp fa-solid fa-clock"></i>@article.DateStamp.ToString("yyyy/MM/dd hh:mm tt") </a></li>&nbsp; &nbsp;
                    <li class="views"><a href="#"><i class="fa fa-eye"></i>@article.Views </a></li>&nbsp;&nbsp;&nbsp;
                    @*<li class="loves"><a href="#"><i class="fa-solid fa-thumbs-up"></i>@article.Likes </a></li>*@
                </ul>

            </div>
            <h2 class="entry-title">
                <a asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id">
                    <span style="color:#003366"></span>@article.HeadLine
                </a>
            </h2>
        </div>
    </div>
}



