@model IEnumerable<AlphaWebApp.Models.StockDetails>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Symbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Close)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrevClose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PercentChange)
            </th>          
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Symbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Close)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrevClose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PercentChange)
            </td>            
        </tr>
}
    </tbody>
</table>
