@model IEnumerable<AlphaWebApp.Models.Article>
@using AlphaWebApp.Services
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject ISubscriptionService subscriptionsService
@{
    var articles = Model.Skip(1);
}

@*<----------------------------------------------------- Technology/index ------------------------------------------------------------->*@
@foreach (var article in articles)
{
    <div class="post feature-post style:height:500px;">
        <div class="entry-header">
            <div class="entry-thumbnail">
                <img src="@article.ImageLink" class="card-img-top" style="height: 400px; width: 100%; object-fit: cover;">
            </div>
        </div>

        <div class="post-content">
            <h2 class="entry-title">
                <a asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id">
                    <span style="color:#003366"></span>@article.HeadLine
                </a>
            </h2>
            <hr />
            <div class="entry-meta">
                <h4 class="publish-date"><a href="#"><i class="fa-sharp fa-solid fa-clock"></i>@article.DateStamp.ToString("yyyy/MM/dd hh:mm tt") </a></h4>

                <ul class="list-inline">
                    <li class="views"><a href="#"><i class="fa fa-eye"></i>@article.Views </a></li>&nbsp;&nbsp;
                    <li class="loves"><a href="#"><i class="bi bi-heart bi-lg"></i>@article.Like.Count </a></li>
                </ul>
            </div>
        </div>
    </div>
}



