@model WeatherForecast



<div style="background-color:lightgray;">
    <h3 class="p-1"><i class="fa-solid fa-map-pin"></i> City: @Model.City</h3>
    <h4 class="p-1"><i class="fa-solid fa-umbrella"></i> Summary: @Model.Summary</h4>
    <h4 class="p-1"><i class="fa-solid fa-temperature-half"></i> Temperature: @Model.TemperatureC C</h4>
    <h4 class="p-1"><i class="fa-solid fa-wind"></i> WindSpeed: @Model.WindSpeed km/hr</h4>
    <h4 class="p-1"><i class="fa-solid fa-droplet"></i> Humidity: @Model.Humidity %</h4>
    <h4 class="p-1"><i>Last Update: @Model.Date</i></h4>
</div>
