@model IEnumerable<AlphaWebApp.Models.StockDetails>

<div class="table-responsive-md">
    <table class="table table-hover table-md table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Open</th>
                <th scope="col">Close</th>
                <th scope="col">Price Change</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @if (@item.Name == "Crude Oil" || @item.Name == "Gold" || @item.Name == "Silver" || @item.Name == "EUR/USD" || @item.Name == "10-Yr Bond")
                    {                       
                        <td>@item.Name</td>
                        <td>@item.PrevClose.ToString("0.00")</td>
                        <td>@item.Close.ToString("0.00")</td>
                        <td>
                            @if (@item.PercentChange >= 0)
                            {
                                <i class="fa-solid fa-caret-up text-success"></i>
                                <span>@item.PercentChange.ToString("0.00")%</span>
                            }
                            else
                            {
                                <i class="fa-solid fa-caret-down text-danger"></i>
                                <span>@item.PercentChange.ToString("0.00")%</span>
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

