@using Microsoft.AspNetCore.Identity
@model AlphaWebApp.Models.Article

@inject UserManager<User> userManager

@{
    ViewData["Title"] = "Details";
}

@*<div class="container-fluid">


    <h1 class="text-lg-center border border-5 border-primary pt-4">@Model.HeadLine</h1>
    <br />
    <div class="pt-2 pb-5 ps-5 pe-2 h-50">
        <img src="@Model.ImageLink" alt="Image" />
    </div>
    <div style="height:10px" class="ps-5">
        <b class="bg-danger text-white">@ViewBag.CategoryName</b> &nbsp;&nbsp;|&nbsp;&nbsp;<b>@Model.DateStamp</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <b class="text-end"><i class="bi bi-eye"></i>&nbsp;@Model.Views</b> &nbsp;&nbsp;

    </div>
    <br />
    <div class="ps-5 pe-5 shadow bg-light mb-2 rounded">
        <b>@Model.ContentSummary</b>
    </div>
    <div class="ps-5 pe-5 shadow bg-light mb-4 rounded">
        @Model.Content
    </div>
</div>
<br />




</div>*@


<div class="container section">
    <div class="row">
        <div id="site-content" class="site-content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="left-content">
                        <div class="details-news">
                            <div class="post">
                                <div class="entry-header">
                                    <div class="entry-thumbnail">
                                        <img class="card-img-top" src="@Model.ImageLink" alt="Card image cap">
                                        <span class="card-category-badge">@ViewBag.CategoryName</span>
                                    </div>
                                </div>
                                <div class="post-content">
                                    <div class="entry-meta">
                                        <ul class="list-inline">
                                            <li class="publish-date"><a href="#"><i class="fa-sharp fa-solid fa-clock"></i>Date: @Model.DateStamp </a></li>&nbsp; &nbsp;
                                            <li class="views"><a href="#"><i class="fa fa-eye"></i>Views:@Model.Views </a></li>&nbsp;&nbsp;&nbsp;
                                            <li class="loves">
                                                @if (!User.Identity.IsAuthenticated)
                                                {
                                                    <b class="text-end"><i class="bi bi-heart bi-lg"></i>&nbsp;<span>Likes:@Model.Like.Count</span></b>
                                                }
                                                else if (@Model.Like.Any(x => x.UserId == userManager.GetUserId(User) && x.ArticleId == Model.Id))
                                                {
                                                    <a href="javascript:void(0)" class="unlike" data-id="@Model.Id"><i class="bi bi-heart-fill bi-lg text-danger"></i><span>Likes:@Model.Like.Count</span></a>
                                                }
                                                else
                                                {
                                                    <a href="javascript:void(0)" class="like" data-id="@Model.Id"><i class="bi bi-heart bi-lg"></i>&nbsp;<span>Likes:@Model.Like.Count</span></a>
                                                }
                                            </li>
                                        </ul>
                                    </div>
                                    <h2 class="entry-title">
                                        @Model.HeadLine
                                    </h2>
                                    <div class="entry-content">
                                        <p>@Model.Content</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="ps-5">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success">Edit</a> |
        <a asp-action="Index" class="btn btn-primary">Back to List</a>

    </div>
</div>

@section scripts
    {
    <script>
        $(document).ready(function () {
            //LIKE
            $(document).on("click", "a.like", function () {
                var id = $(this).data("id");// gets the article id
                var link = "/Articles/LikeThis/"; ///Articles/LikeThis/
                var a = $(this);
                $.ajax({
                    type: "GET",
                    url: link,
                    data: { 'articleid': id },
                    success: function (result) {
                        a.html('<i class="bi bi-heart-fill bi-lg text-danger"></i><span>Likes: ' + result + '</span>').removeClass("like").addClass("unlike");
                    }
                });
            });
            //UNLIKE
            $(document).on("click", "a.unlike", function () {
                var id = $(this).data("id");
                var link = "/Articles/UnlikeThis/";
                var a = $(this);
                $.ajax({
                    type: "GET",
                    url: link,
                    data: { 'articleid': id },
                    success: function (result) {
                        a.html('<i class="bi bi-heart bi-lg text-danger"></i><span>Likes:' + result + '</span>').removeClass("unlike").addClass("like");
                    }
                });
            });

        });
    </script>
}

