@model AlphaWebApp.Models.Article

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid"> 
    <h1 class="text-lg-center border border-5 border-primary pt-4">@Model.HeadLine</h1>
    <br />   
    <div class="pt-2 pb-5 ps-5 pe-2 h-50">
        <img src="@Model.ImageLink" alt="Image"/>
    </div>
    <div style="height:10px" class="ps-5">
        <b class="bg-danger text-white">@ViewBag.CategoryName</b> &nbsp;&nbsp;|&nbsp;&nbsp;<b>@Model.DateStamp</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <b class="text-end"><i class="bi bi-eye"></i>&nbsp;@Model.Views</b> &nbsp;&nbsp; <b class="text-end"><i class="bi bi-hand-thumbs-up"></i> &nbsp;@Model.Likes</b>
    </div>
    <br />  
    <div class="ps-5 pe-5 shadow bg-light mb-2 rounded">
        <b>@Model.ContentSummary</b>
    </div>
    <div class="ps-5 pe-5 shadow bg-light mb-4 rounded">
        @Model.Content
    </div>  
</div>
<br />

<div class="ps-5">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-success">Edit</a> |
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
