@using Microsoft.AspNetCore.Identity
@model IEnumerable<AlphaWebApp.Models.Article>
@inject UserManager<User> userManager

@{
    ViewData["Title"] = "Articles";
}

<hr />
<div class="ListOfArticles">
    <h2>
        <b>List of Articles</b>
    </h2>

    <div class="text-end">
        <a asp-action="Create" class="btn" style="color:#fff; background-color:#003366">
            <b><i class="fa-solid fa-plus"></i> Create New Article</b>
        </a>
    </div>
</div>
<hr />
<div class="container">

    @foreach (var group in Model.GroupBy(a => a.Category))
    {
        <div class="row gy-4" id="ads">
            <div style="color: #fff; font-size:22px; background-color: @group.Key.Color">
                @group.Key.name
            </div>
            @foreach (var item in group)
            {
                <div class="col-md-4">
                    <div class="card h-100">
                        <div class="card-image">
                            <span class="card-notify-badge">@item.Category.name</span>
                            <img class="img-fluid" src="@item.ImageLink" style="height: 150px; width: 100%; object-fit: cover;" />
                        </div>

                        <div class="card-body text-start d-flex flex-column">
                            <div style="font-size:20px;">
                                <b>@item.HeadLine</b>
                            </div>
                            <p style="color:#000;">
                                @item.ContentSummary
                                <a asp-controller="Articles" asp-action="Details" asp-route-id="@item.Id"><span style="color:#003366"><b>... Continue Reading</b></span></a>
                            </p>
                            <div class="mt-auto">
                                <a asp-controller="Articles" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger d-inline-block mt-auto">Delete</a>
                                <a asp-controller="Articles" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning d-inline-block mt-auto">Edit</a>
                            </div>
                            <div class="post-content">
                                <div class="entry-meta">
                                        <div class="publish-date"><a href="#"><i class="fa-sharp fa-solid fa-clock"></i> Date: @item.DateStamp.ToString("dd-MM-yyyy HH:mm tt") </a></div>

                                    <div>
                                    @if (item.EditorsChoice)
                                    {
                                        <input checked="checked" data-id="@item.Id" name="check" type="checkbox" />
                                    }
                                    else
                                    {
                                        <input data-id="@item.Id" name="check" type="checkbox" />
                                    }
                                     Editor Choice</div>
                                    <ul class="list-inline">
                                        <li class="views"><a href="#"><i class="fa fa-eye"></i> Views: @item.Views</a></li>
                                        <li class="loves">                                            

                                            @if (!User.Identity.IsAuthenticated)
                                            {
                                                <b class="text-end"><i class="bi bi-heart bi-lg"></i><span>Likes: @item.Like.Count</span></b>
                                            }
                                            else if (@item.Like.Any(x => x.UserId == userManager.GetUserId(User) && x.ArticleId == item.Id))
                                            {
                                                <a href="javascript:void(0)" class="unlike" data-id="@item.Id"><i class="bi bi-heart-fill bi-lg text-danger"></i><span> Likes: @item.Like.Count</span></a>
                                            }
                                            else
                                            {
                                                <a href="javascript:void(0)" class="like" data-id="@item.Id"><i class="bi bi-heart bi-lg"></i>Likes: @item.Like.Count</a>

                                           }                                           
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>

@section scripts
    {
    <script>
        $(document).ready(function () {
            //LIKE
            $(document).on("click", "a.like", function () {
                var id = $(this).data("id");// gets the article id
                var link = "/Articles/LikeThis/"; ///Articles/LikeThis/
                var a = $(this);
                $.ajax({
                    type: "GET",
                    url: link,
                    data: { 'articleid': id },
                    success: function (result) {
                        a.html('<i class="bi bi-heart-fill bi-lg text-danger"></i> ' + result).removeClass("like").addClass("unlike");
                    }
                });
            });
            //UNLIKE
            $(document).on("click", "a.unlike", function () {
                var id = $(this).data("id");
                var link = "/Articles/UnlikeThis/";
                var a = $(this);
                $.ajax({
                    type: "GET",
                    url: link,
                    data: { 'articleid': id },
                    success: function (result) {
                        a.html('<i class="bi bi-heart bi-lg text-danger"></i>' + result).removeClass("unlike").addClass("like");
                    }
                });
            });

            // Change Editors Choice
            $(document).on("change", "[name='check']", function () {
                var id = $(this).data('id');

                console.log(id);

                var link = "/Articles/Editorschoice/";
                var a = $(this);
                $.ajax({
                    url: link,
                    data: { id },
                    type: 'POST',
                    success: function (result) {
                        // { editorsChoice: true } result object
                        console.log(result.editorsChoice);
                        //a.html(result).add("editorschoice");
                    }
                });

            });

        });
    </script>
}
