@model IEnumerable<AlphaWebApp.Models.Article>

@{
    ViewData["Title"] = "Articles";
}

<hr />

<div>
    <h2 class="ListOfArticles">
        <i class="fa-solid fa-newspaper"></i>

        <b>List of Articles</b>
    </h2>
    <div class="CreateNewArticle">
        <a asp-action="Create" class="btn btn-success">
            <b><i class="fa-solid fa-plus"></i> Create New Article</b>
        </a>
    </div>
</div>
<hr />



<div class="container">
    <div class="row" id="ads">

        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="card">
                    <div class="card-image">
                        <span class="card-notify-badge">@item.Category.name</span>
                        @*<span class="card-notify-year">@item.DateStamp</span>*@
                        <img class="img-fluid" src="@item.ImageLink" />
                    </div>
                    @*<div class="card-image-overlay m-auto">
                <span class="card-detail-badge">Badge-01</span>
                </div>*@

                    <div class="card-body text-start">
                        <div class="ad-title text-center">
                            <h5>@item.HeadLine</h5>
                        </div>

                        <p style="color:#000;">@item.Content</p>
                        <div>
                            <a asp-controller="Articles" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary d-inline-block mt-auto">Read More</a>
                            @*<a asp-controller="Articles" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary d-inline-block mt-auto">@item.HeadLine</a>*@
                            <a asp-controller="Articles" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger d-inline-block mt-auto">Delete</a>
                        </div>
                        <div class="post-content">
                            <i class="fa fa-eye"> Views</i>
                            <i class="fa-solid fa-thumbs-up"> Likes</i>
                            <i class="fa-sharp fa-solid fa-clock"> Date</i>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</div>