@using Microsoft.AspNetCore.Identity
@model IEnumerable<AlphaWebApp.Models.Article>
@inject UserManager<User> userManager

@{
    ViewData["Title"] = "Articles";
}

<hr />

<div>
    <h2 class="ListOfArticles">
        <b>List of Articles</b>
    </h2>
    <div class="CreateNewArticle text-end">
        <a asp-action="Create" class="btn" style="color:#fff; background-color:#003366">
            <b><i class="fa-solid fa-plus"></i> Create New Article</b>
        </a>
    </div>
</div>
<hr />
<div class="container">
    <div class="row" id="ads">
        @foreach (var group in Model.GroupBy(a => a.Category))
        {
            <div>
                @group.Key.name
            </div>
            @foreach (var item in group)
            {
                <div class="col-md-4">
                    <div class="card h-100">
                        <div class="card-image">
                            <span class="card-notify-badge">@item.Category.name</span>
                            @*<span class="card-notify-year">@item.DateStamp</span>*@
                            <img class="img-fluid" src="@item.ImageLink" style="height: 150px; width: 100%; object-fit: cover;" />
                        </div>

                        <div class="card-body text-start d-flex flex-column">
                            <div class="ad-title text-center">
                                <h5>@item.HeadLine</h5>
                            </div>


                            <p style="color:#000;">@item.ContentSummary</p>
                            <div class="mt-auto">
                                <a asp-controller="Articles" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary d-inline-block mt-auto">Read More</a>
                                <a asp-controller="Articles" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger d-inline-block mt-auto">Delete</a>
                            </div>
                            <div class="post-content">
                                <i class="fa fa-eye">@item.Views</i>
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <b class="text-end"><i class="bi bi-heart bi-lg"></i>&nbsp;<span>@item.Like.Count</span></b>
                                }
                                else if (item.Like.Any(x => x.UserId == userManager.GetUserId(User) && x.ArticleId == item.Id))
                                {
                                    <a href="javascript:void(0)" class="unlike" data-id="@item.Id"><i class="bi bi-heart-fill bi-lg text-danger"></i><span>@item.Like.Count</span></a>
                                }                               
                                else
                                {
                                    <a href="javascript:void(0)" class="like" data-id="@item.Id"><i class="bi bi-heart bi-lg"></i>&nbsp;<span>@item.Like.Count</span></a>
                                }
                                <i class="fa-sharp fa-solid fa-clock">@item.DateStamp.ToString("dd-MM-yyyy HH:mm")</i>

                                @if (item.EditorsChoice)
                                {
                                    <input checked="checked" data-id="@item.Id" name="check" type="checkbox" />
                                }
                                else 
                                {
                                    <input data-id="@item.Id" name="check" type="checkbox" />
                                }
                                
                            </div>
                           
                        </div>
                    </div>
                </div>
            }       
        }
</div>
</div>

@section scripts
    {
    <script>
        $(document).ready(function () {
            //LIKE
            $(document).on("click", "a.like", function () {
                var id = $(this).data("id");// gets the article id
                var link = "/Articles/LikeThis/"; ///Articles/LikeThis/
                var a = $(this);
                $.ajax({
                    type: "GET",
                    url: link,
                    data: { 'articleid': id },
                    success: function (result) {
                        a.html('<i class="bi bi-heart-fill bi-lg text-danger"></i> ' + result).removeClass("like").addClass("unlike");
                    }
                });
            });
            //UNLIKE
            $(document).on("click", "a.unlike", function () {
                var id = $(this).data("id");
                var link = "/Articles/UnlikeThis/";
                var a = $(this);
                $.ajax({
                    type: "GET",
                    url: link,
                    data: { 'articleid': id },
                    success: function (result) {
                        a.html('<i class="bi bi-heart bi-lg text-danger"></i>' + result).removeClass("unlike").addClass("like");
                    }
                });
            });

            // Change Editors Choice
            $(document).on("change", "[name='check']", function () {
                var id = $(this).data('id');

                console.log(id);

                var link = "/Articles/Editorschoice/";
                var a = $(this);
                $.ajax({
                    url: link,
                    data: { id },
                    type: 'POST',
                    success: function (result) {
                        // { editorsChoice: true } result object
                        console.log(result.editorsChoice);
                        //a.html(result).add("editorschoice");
                    }
                });

            });

        });
    </script>
}
