@model IEnumerable<AlphaWebApp.Models.Article>

@{
    ViewData["Title"] = "Articles";
}

<div>
<h1>List of Articles</h1>
<p style="text-align:end">
        <a asp-action="Create" class="btn btn-success"> <i class="bi bi-plus-circle"></i> &nbsp;Create New</a>
</p>
</div>
<hr />
<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-12 col-md-6 col-md-4">
                <div class="card" style="width: 100%; height: 100%">
                    <img src="@item.ImageLink" class="card-img-top" alt="Image" style="padding:1px; object-fit: cover; height: 250px;">
                    <div class="card-body d-flex flex-column align-items-start">
                        <h5 class="card-title" style="color: #234E70"><b>@item.HeadLine</b></h5>
                        <p style="color:#7A2048;">
                            <b>@item.Content </b>
                        </p>
                        <div >
                            <a asp-controller="Articles" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary d-inline-block mt-auto">Read About Article</a>
                            <a asp-controller="Articles" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger d-inline-block mt-auto">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



