@model IEnumerable<AlphaWebApp.Models.Article>
@{
    var activeClass = "active";
}

<div class="container">
    <div class="row">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @foreach (var item in Model)
                {
                    <div class="carousel-item @activeClass">
                        <b style="color:red">
                            @item.DateStamp.ToString("yyyy/MM/dd hh:mm tt") |&nbsp; @item.Category.name |&nbsp; @item.ContentSummary
                        </b>
                    </div>

                    activeClass = "";
                }
            </div>
        </div>
    </div>
</div>


@*Arkiv*@
@*@model IEnumerable<AlphaWebApp.Models.Article>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {

                               <b>@item.Category.name</b>
                                <b>@item.DateStamp</b>

                        <a asp-controller="Articles" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary d-inline-block mt-auto">@item.HeadLine</a>


        }
    </div>
</div>
@*/Arkiv*@