@model IEnumerable<AlphaWebApp.Models.Article>
@{
    var activeClass = "active";
}


@*<----------------------------------------------------- Latest News ------------------------------------------------------------->*@

<div class="container">
    <div class="row">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @foreach (var item in Model)
                {
                    <div class="carousel-item @activeClass">
                        <b style="color:red">
                            @*@item.DateStamp.ToString("yyyy/MM/dd hh:mm tt") |&nbsp; @item.Category.name |&nbsp; @item.ContentSummary*@

                            <a style="color:red" asp-controller="Articles" asp-action="ContinueReading" asp-route-id="@item.Id">
                                @item.DateStamp.ToString("yyyy/MM/dd hh:mm tt") |&nbsp; @item.Category.name |&nbsp; @item.ContentSummary
                            </a>
                        </b>
                    </div>

                    activeClass = "";
                }
            </div>
        </div>
    </div>
</div>