@model IEnumerable<AlphaWebApp.Models.Category>

<h1>Personalized Newsletter</h1>


<form id="newsletterForm" asp-action="CreateCategory">
    @foreach (var item in Model)
    {
        <input type="checkbox" id="@item.Id" name="@item.name" value="@item.Id"/>
        <label for="@item.Id">@item.name</label><br />
    }
    <button type="button" onclick="submitForm()">Subscribe</button>
</form>

<script>
    function submitForm() {
        var formdata = new FormData(document.getElementById("newsletterForm"));
        fetch("https://alphagroup16.queue.core.windows.net/weeklynewsletter", {
            method: "post",
            body: formdata
        })
        .then(response => {
            document.getElementById("newsletterForm").reset();
            //give message that the newsletter has been subscribed to
        })
        .catch(error => {
            //give message that an error occurred
        });
        console.log;
    }
</script>


